*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
	text-align: center;
	font-size: 50px;
	font-family: arial;
	margin-top: 80px;
}

.row {
	margin: 8px -16px;
	padding: 8px;

  }
  
  /* Create four equal columns that floats next to each other */
  .column {
	float: left;
	/*width: 25%;*/
  }

  img {
	border: 1px solid #ddd;
	border-radius: 4px;
	width: 100px;
  }
  
  img:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  /* Clear floats after rows */ 
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Content */
  .content {
	background-color: white;
	padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
	.column {
	  width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	}
  }